body {
    font-family: Arial;
    margin: 0;
    background-image: url("/Images/recyclingLogo.png");
}

.headerPage {
    padding: 30px;
    /* text-align: right; */
    background-color: #3DB936;
    color: white;
    /* 
    font-size: 30px; */
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.glass {
    width: 225px;
    height: 300px;
    background-color: #3db9366e;
    color: black;
    text-align: left;
    padding-top: 15%;
}

.organic {
    width: 225px;
    height: 300px;
    background-color: #5d605d52;
    color: black;
    text-align: left;
    padding-top: 15%;
}

.paper {
    width: 225px;
    height: 300px;
    background-color: #0008fe62;
    color: black;
    text-align: left;
    padding-top: 15%;
}

.metal {
    width: 225px;
    height: 300px;
    background-color: #ce2b2b63;
    color: black;
    text-align: left;
    padding-top: 15%;
}

.plastic {
    width: 225px;
    height: 300px;
    background-color: #d7d72d80;
    color: black;
    text-align: left;
    padding-top: 15%;
}

.footerPage {
    padding: 50px;
    /* text-align: right; */
    background-color: #3DB936;
    color: white;
    /* 
    font-size: 30px; */
}

footer {
    padding: 25px;
    /* text-align: right; */
    background-color: #3DB936;
    color: white;
    font-size: 30px;
}